@import 'reset.css';

@font-face {
	font-family: 'norseBold';
	src: url('Norse-Bold.woff');
}

.title {
	width: 33%;
	background-image: url(photo-1585202900225-6d3ac20a6962.avif);
	background-size: cover;
}

body {
	display: flex;
	width: 100vw;
	height: 100vh;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
	background: rgba(3, 3, 3, 0.473);
	color: white;
	position: relative;
	text-align: center;
	top: 100px;
	font-family: norseBold;
}

.signupForm {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.top {
	display: flex;
	height: calc(100vh * (1 / 3));
	justify-content: space-between;
	padding-left: 20px;
}

.warning {
	font-size: 2rem;
	width: 69%;
}
form {
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: 3;
	height: calc(100vh * (1 / 3));
	right: 100px;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	width: calc(100vw * (1 / 3));
}
.forms {
	background-color: rgba(3, 3, 3, 0.027);
	box-shadow: 2px 2px rgba(3, 3, 3, 0.267);
}

.bottom {
	height: calc(100vh * (1 / 3));
}

.lName {
	grid-column-start: 2;
}

.pass {
	grid-column-start: 1;
	grid-row-start: 4;
}

.confirmPass {
	grid-row-start: 4;
	grid-column-start: 2;
}

.inputs {
	display: flex;
	flex-direction: column;
}

h2 {
	grid-column: 1/3;
}

input[type='submit'] {
	outline: none !important;
	background-color: #596d48;
	color: white;
	margin: 30px 30px 1px 30px;
	padding-left: 2.5%;
	padding-right: 2.5%;
	border-radius: 5px;
}

input {
	appearance: none;
	border-radius: 5px;
	border-color: #e5e7eb;
}

.inputs label {
	font-family: norseBold, Arial, Helvetica, sans-serif;
	padding: 2px;
}

input:focus,
textarea:focus {
	outline: none !important;
	border-color: rgba(37, 37, 221, 0.801);
	border-radius: 5px;
}

input:invalid {
	outline: none !important;
	border-color: rgba(255, 9, 9, 0.685);
	border-radius: 5px;
}

.btn {
	box-shadow: 0px 2px 2px #777;
	font-size: 22px;
	text-align: center;
}

.btn:active {
	transform: translateY(2px);
	box-shadow: 0 0 0;
	outline: 0;
}

.login {
	margin: 20px 10px 10px 20px;
}
